ul {
    list-style: none;
    margin: 0 0 25px 0;
    padding: 0;
    text-align: center;
}

li {
    margin: 0 0 20px 0;
    padding: 0;
}

.artist {
    font-size: 1.3em;
}

.title {
    font-style: italic;
}

ul.outer {
    position: relative;
    /*max-width: 960px;*/
    padding: 0px;
    width: 100%;
}

li.outer {
    display: inline-table;
    width: 24%;
}

body {
    margin: 0px;
    font-size: 13px;
}

li.outer ul {
    padding: 0px;
}