body {
    -webkit-text-size-adjust: none;
}

@media (min-width:980px) {
    body {
        padding-top: 60px;
    }
}

/* index page */

img#github-ribbon {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    z-index: 1030; /* no idea where this comes from, lowest value that works */
}

@media (max-width: 768px) {
    .navbar .brand {
        max-width: 75%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .hero-unit {
        padding: 20px;
    }

    #application-status {
        display: none;
    }
}

/* list pages */

table td.link {
    white-space: nowrap;
}

/* error page */

pre.snippet code.line {
    border: none;
    display: block;
}

pre.snippet .lineNumber {
    display: inline-block;
    width: 3em;
}

pre.snippet .error {
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.shoppingCartButton {
    float: right;
}

td.rightAlign {
    text-align: right;
}

.italicize {
    font-style: italic;
}

.shortInput {
    max-width: 100px;
}

div.span3 {
    max-width: 15%;
}

.headerTitle {
    font-size: 3em;
    font-weight: bold;
    padding-right: 10px;
}

.modal-body select {
    width: 20%;
    margin-right: 15px;
}

.modal-body input {
    width: 25%;
}

.modal-body label {
    display: inline;
    margin-left: 2px;
}

.modal-body ul {
    list-style: none;
}

#payment2,
#payment3 {
    display: none;
}

#paymentSum {
    float: right;
    margin-right: 10px;
    color: red;
}

#startingCash, #name {
    width: 43%;
}

span.hiddenLabel {
    display: none;
}

ul {
    list-style: none;
}



.statsWell {
    text-align: center;
}

.statsWell div {
    width: 50%;
    display: inline;
    margin: 10px 20px 0 20px;
    font-size: 24px;
    font-weight: bold;
    color: #08C;
}

.statsTax, .statsCash {
    width: 45%;
    display: inline-table;
}

.statsTax {
    float: right;
}

.statsCash {
    float: left;
}

.stats {
    width: 100%;
    text-align: right;
}

.stats li {
    display: inline-table;
    width: 45%;
    padding-right: 23%;
}

li.statHeaders {
    position: relative;
    padding-right: 12%;
    text-align: center;
}

.statsTable {
    position: relative;

}

table.statsTable thead tr td {
    text-align: center;
}